// colors
$background: #FFFFFF;
$text: #000000;
$teal: #1DE9B6;
$grey: #F2F2F2;
$darkGrey: #CDCDCD;
$greyText: #7F7F7F;

@function rem($pixels) {
	@return $pixels / 16 + rem
}

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;

	.app-bar {
		height: rem(60);
		width: 100vw;
		position: fixed;
		background-color: $darkGrey;
		display: flex;
		justify-content: center;
		top: 0;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

		.search-bar-wrap {
			align-self: center;

			.search-bar-input {
				border: 0;
				border-radius: rem(3);
				padding: rem(5) rem(15);
				font-size: rem(20);
				width: 50vw;
				font-family: Lato, sans-serif;
			}
		}
	}

	.main {
		display: flex;

		.categories-list {
			width: 20vw;
			margin-top: rem(60);
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			border-right: rem(1) solid rgba(0, 0, 0, .1);

			ul {
				margin: 0;
				padding: rem(15) 0;
				list-style: none;

				li {
					padding: rem(20);
					cursor: pointer;

					&:hover,
					&.selected {
						background-color: rgba(0, 0, 0, .05);
					}
				}
			}
		}

		.card-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: rem(75);
			margin-left: 20vw;
			width: 100%;

			.card-wrap {
				width: 300px;
				background-color: $grey;
				margin: rem(15);
				padding: rem(15);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				transition: all .3s cubic-bezier(.25, .8, .25, 1);
				cursor: pointer;
				min-height: rem(130);

				&:hover {
					background-color: $darkGrey;
					box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
				}

				h3 {
					margin: 0;
				}

				p {
					padding: 0;
					margin: rem(15) 0 0;
					font-size: rem(14);
					color: $greyText
				}
			}
		}
	}

	.bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .25);
		display: none;
		z-index: 2;

		&.show {
			display: block;
		}
	}

	.popup {
		position: fixed;
		top: 0;
		left: calc(50% - (75vw / 2));
		height: 100vh;
		width: 75vw;
		display: none;
		z-index: 5;
		background-color: $background;

		&.show {
			display: block;
		}

		.popup-header {
			display: flex;
			justify-content: flex-end;
			background-color: $teal;
			align-items: center;
			height: rem(60);

			.popup-title {
				padding: rem(15);
				margin: 0 auto 0 0;
				color: #FFFFFF;
			}

			.material-icons {
				color: #FFFFFF;
				padding: rem(15);
				cursor: pointer;
			}
		}
		.popup-content-scroll-wrap {
			height: calc(100% - 60px);

			.popup-content > div {
				padding: rem(20);

				p {
					padding: 0 0 rem(10);
					margin: 0;
					font-size: 1.1rem;
					line-height: 1.8rem;

					&:last-of-type {
						padding: 0;
					}
				}
			}
		}
	}
}

